---
import Icon from '$components/Icon.astro'
---

<footer class="bg-img-03 snap-start text-center">
	<div class="container relative flex flex-col items-center gap-8 py-16">
		<div>
			<p class="mb-6 text-sm">ElTiempo Content para</p>
			<Icon class="mx-auto w-20" name="logo" />
		</div>
	</div>
</footer>
