---
import Icon from '$components/Icon.astro'
---

<header
	class="relative z-40 flex h-14 snap-start items-center justify-between bg-white px-8 text-black shadow"
>
	<button class="w-3" onclick="history.back()"><Icon name="back" /></button>
	<a class="w-24" target="_blank" rel="noreferrer" href="https://www.eltiempo.es/"
		><Icon name="eltiempo" /></a
	>
	<span class="w-3"></span>
</header>
